<section class='disqus'>
  <p class='separator'>
    <span class='separator__title'>{{t 'Comments' }}</span>
  </p>
  <div id='disqus_thread'></div>
  <script type='text/javascript'>
    var disqus_shortname = 'aspirethemes-demos'; // required: replace example with your forum shortname
    var disqus_identifier = 'ghost-{{comment_id}}';

    // DON'T EDIT BELOW THIS LINE
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
  </script>
</section>