<div class='c-notification c-notification--subscribe'>
  <span class='c-notification__close'></span>
  {{t "You've successfully subscribed to {siteTitle}" siteTitle=@site.title}}
</div>

<div class='c-notification c-notification--signup'>
  <span class='c-notification__close'></span>
  {{t "Great! Next, complete checkout for full access to {siteTitle}" siteTitle=@site.title}}
</div>

<div class='c-notification c-notification--signin'>
  <span class='c-notification__close'></span>
  {{t "Welcome back! You've successfully signed in."}}
</div>

<div class='c-notification c-notification--checkout'>
  <span class='c-notification__close'></span>
  {{t "Success! Your account is fully activated, you now have access to all content."}}
</div>