<div class="row">
  <div class="post-prev-next-pagination post-list">

    {{#prev_post}}
    {{> post-card passed_class="medium-6 large-6 post-navigation prev"}}
    {{/prev_post}}

    {{#next_post}}
    {{> post-card passed_class="medium-6 large-6 post-navigation next"}}
    {{/next_post}}

  </div>
</div>