<div class='search-form-container'>

  <form class='search-form'>
    <div class='row'>
      <div class='column column--center large-8'>
        <label for='search-form-input' class='u-hidden-visually'>{{t 'Type to Search'}}</label>
        <input type='search' class='search-form__field' placeholder='{{t "Type to Search" }}' id='search-form-input'>
      </div>
    </div>
  </form>

  <div class='row'>
    <div class='column column--center large-8'>
      <div class='search-results'></div>
    </div>
  </div>

  <div data-icon='ei-close' data-size='s' class='close-search-button search-form-container__close'></div>

</div>