<ul class="share-list">
  <li>
    <a class="share-list__link" title="Share on Twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute='true'}}"
    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
      <div data-icon="ei-sc-twitter" data-size="s" class="share-list__icon share-list__icon--twitter"></div>
    </a>
  </li>
  <li>
    <a class="share-list__link" title="Share on Facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}"
  onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
    <div data-icon="ei-sc-facebook" data-size="s" class="share-list__icon share-list__icon--facebook"></div>
    </a>
  </li>
  <li>
    <a class="share-list__link" title="Share on Google Plus" href="https://plus.google.com/share?url={{url absolute='true'}}"
  onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530'); return false;">
    <div data-icon="ei-sc-google-plus" data-size="s" class="share-list__icon share-list__icon--google"></div>
    </a>
  </li>
</ul>