<h5 class="separator">
  <span class="separator__title">Newsletter</span>
</h5>

<div class="box box--news-letter subscribe-form">
  {{subscribe_form placeholder="Your email address" button_class="button button--expand"}}
</div>