<h5 class="separator">
  <span class="separator__title">{{t 'Newsletter' }}</span>
</h5>

<div class="box box--news-letter subscribe-form">
  {{subscribe_form placeholder=(t 'Email') button_class="button button--expand"}}
</div>