<article class='column medium-6 large-4'>
  <div class='tag-card'>
    <a href='/tag/{{ slug }}' class='tag-card__image FlexEmbed FlexEmbed--16by9' style='background-image: url({{ image }})'>
      <h2 class='tag-card__title'>{{ name }}</h2>
    </a>
  </div>
</article>