{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

<div class="wrapper">

  <div class="row row--full">
    <div class="column large-12">

      {{#tag}}
      <header class="page-header box">
        <div data-icon="ei-tag" data-size="s" class="box__icon"></div>
        <div class="box__body">
          <h4 class="box__title">{{name}}</h4>
          {{#if description}}
          <p class="box__text">
            {{description}}
          </p>
          {{/if}}
        </div>
      </header>
      {{/tag}}

    </div>
  </div>

  <div class="row row--full">
    <div class="post-list">
      {{> loop}}
    </div>
  </div>

  <div class="row row--full">
    {{pagination}}
  </div>

</div>