//---------------------------
// Colors
//---------------------------

$color-brand: #207CDF;
$color-text:  #222222;
$color-grey:  #5D738D;
$color-white: #FFFFFF;

// Background
$bg-color-gray: #F6F9FC;

// Border
$color-border:   #EBF1F8;

// Share
$color-google:   #DC4E41;
$color-twitter:  #55ACEE;
$color-facebook: #3B5998;