//---------------------------
// Colors
//---------------------------

$brand-color: #207CDF;
$color-text:  #222222;
$color-grey:  #7E7E7E;
$color-white: #FFFFFF;

// Background
$bg-color-gray: #FAFAFA;

// Border
$color-border:         #ECF0F1;
$color-border--darker: #DADFE1;

// Share
$color-google:   #DC4E41;
$color-twitter:  #55ACEE;
$color-facebook: #3B5998;