//---------------------------
// Colors
//---------------------------

$color__type: #222222;
$color__type--hover: #7E7E7E;
$brand-color: #a60505;

$body-color: #333;
$grey-bg: #FAFAFA;
$border-color: #ECF0F1;
$border-color--darker: #DADFE1;

$twitter-brand: #55acee;
$twitter-brand--hover: #1E8BC3;
$facebook-brand: #3b5998;
$google-brand: #dc4e41;