//---------------------------
// Box
//---------------------------

.box {
  overflow: hidden;
  padding-bottom: $line-height-medium;
  margin-bottom: $line-height-medium;
  border-bottom: 1px solid $color-border;

  @media #{$large-up} {
    padding-bottom: $line-height-base;
    margin-bottom: $line-height-base;
  }

  &__icon {
    float: left;
    width: $line-height-base;
    margin-right: $line-height-base / 3;
  }

  &__title {
    margin: 0;
    line-height: $line-height-medium;
  }

  &__body {
    overflow: hidden;
  }

  &__text {
    margin-top: quarter($line-height-medium);
    margin-bottom: 0;
    font-size: $font-size-small;
    line-height: $line-height-small;
  }

  a { text-decoration: none; }

  &--author,
  &--news-letter {
    padding: $line-height-medium;
    background-color: $bg-color-gray;

    @media #{$large-up} {
      padding: double($line-height-medium);
    }
  }
}