//---------------------------
// Buttons
//---------------------------

.button {
  display: inline-block;
  text-align: center;
  padding: quarter($line-height-base) half($line-height-base);
  font-size: $font-size-tiny;
  font-family: $font-sans-serif;
  line-height: $line-height-medium;
  letter-spacing: $base-letter-spacing;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 0;
  white-space: nowrap;
  text-decoration: none;
  color: $color-white;
  background-color: $color-text;
  transition: $base-transition-speed;

  &:active,
  &:focus,
  &:hover {
    color: $color-white;
    background-color: $color-grey;
  }

  &:visited {
    color: $color-white;
  }

  &--expand {
    width: 100%;
  }

  &.loading {
    position: relative;
    padding-right: $line-height-base + quarter($line-height-base);

    @-webkit-keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    &:after {
      position: absolute;
      top: 14px;
      right: 14px;
      content: '';
      display: block;
      height: half($line-height-base);
      width: half($line-height-base);
      border: 2px solid $color-white;
      border-radius: 100%;
      border-right-color: transparent;
      border-top-color: transparent;
      animation: spin 500ms infinite linear;
    }
  }
}