//---------------------------
// Source code
//---------------------------

pre,
code {
  font-family: $font-monospace;
  background-color: $bg-color-gray;
}

// Code block

pre {
  overflow: auto;
  margin-top: 0;
  margin-bottom: $line-height-base;
  padding: $line-height-base;

  font-size: $font-size-medium;
  white-space: pre-wrap;
  word-wrap: break-word;

  @media #{$medium-down} {
    margin-bottom: $line-height-small;
    padding: $line-height-medium;
  }
}

// Inline code

p code {
  padding: half(quarter($line-height-medium)) quarter($line-height-medium);
}