//---------------------------
// Forms
//---------------------------

input[type='text'],
input[type='tel'],
input[type='number'],
input[type='email'],
textarea {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  display: inline-block;
  border: 1px solid $color__type;
  padding: quarter($line-height__base) half($line-height__base);

  font-family: $font__serif;
  font-size: $font-size__small;
  line-height: $line-height__medium;
  letter-spacing: 1px;

  outline: none;
  background: transparent;
  appearance: none;
  border-radius: 0;
  transition: $base-transition-speed;

  &:focus {
    border: 1px solid $color__type--hover;
  }
}

// Subscribe Form

.subscribe-form {
  @media #{$medium-up} {
    form {
      display: flex;
      flex-wrap: wrap;
    }

    .form-group {
      flex: 8;
    }

    .button {
      flex: 2;
      position: relative;
      left: -1px;
    }
  }
}