//---------------------------
// Forms
//---------------------------

input[type='text'],
input[type='tel'],
input[type='number'],
input[type='email'],
textarea {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0;
  display: inline-block;
  border: 1px solid $color-text;
  padding: quarter($line-height-base) half($line-height-base);
  font-size: $font-size-small;
  font-family: $font-sans-serif;
  line-height: $line-height-medium;
  letter-spacing: $base-letter-spacing;

  outline: none;
  background: transparent;
  appearance: none;
  border-radius: 0;
  transition: $base-transition-speed;

  &:focus {
    border: 1px solid $color-grey;
  }
}

// Subscribe Form

.subscribe-form {
  form {
    display: flex;
    flex-wrap: wrap;
  }

  .form-group {
    width: 100%;
    display: flex;
  }

  .button {
    flex: 3;
    position: relative;
    left: -1px;
  }

  .u-alert {
    display: none;
  }

  &.loading .button {
    @extend .loading;
  }

  &.success .u-alert--success,
  &.invalid .u-alert--invalid,
  &.error   .u-alert--error  {
    display: block;
  }
}