//---------------------------
// Separator
//---------------------------

// <h4 class='heading'>Heading</h4>

.heading {
  padding-bottom: half($line-height-medium);
  margin-bottom: $line-height-base;

  font-size: $font-size-medium;
  line-height: $line-height-small;
  letter-spacing: $base-letter-spacing;
  border-bottom: 1px solid $color-border;
}

// <h5 class="separator">
//   <span class="separator__title">Newsletter</span>
// </h5>

.separator {
  margin: $line-height-base auto;
  text-align: center;
  text-transform: uppercase;

  font-size: $font-size-small;
  font-weight: $font-weight-regular;
  letter-spacing: $base-letter-spacing;

  position: relative;

  &:after {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    content: "";
    border-bottom: 1px solid $color-border;
  }

  &__title {
    position: relative;
    z-index: 1;
    padding: 0px half($line-height-base);
    background: $color-white none repeat scroll 0% 0%;
  }
}