//---------------------------
// Post Meta
//---------------------------

.post__tags {
  min-width: 100%;
  font-size: $font-size-small;

  a {
    padding: half(quarter($line-height-small)) half($line-height-small);
    margin: half(quarter($line-height-base)) quarter($line-height-base) half(quarter($line-height-base)) 0;
    display: inline-block;
    font-family: $font-sans-serif;
    font-size: $font-size-tiny;
    line-height: $line-height-small;

    color: $color-grey;
    border: 1px solid $color-border;
    text-decoration: none;
    transition: $base-transition-speed;

    &:before {
      content: "#";
      padding-right: 2px;
    }

    &:hover {
      color: $color-text;
      border-color: $color-text;
    }
  }
}