/*------------------------------------*\
  Components > Notifications
\*------------------------------------*/

.c-notification  {
  position: fixed;
  top: half($line-height-base);
  right: half($line-height-base);
  left: half($line-height-base);
  z-index: 9000;
  margin: 0 auto;
  max-width: 600px;
  padding: half($line-height-base) $line-height-base half($line-height-base) half($line-height-base);
  color: $color-white;
  font-size: $font-size-small;
  line-height: $line-height-small;
  background-color: $color-success;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  transform: translateY(-175%);
  visibility: hidden;

  @media #{$large-up} {
    top: $line-height-base;
  }
}

.signup-success    .c-notification--signup,
.signin-success    .c-notification--signin,
.checkout-success  .c-notification--checkout,
.subscribe-success .c-notification--subscribe {
  visibility: visible;
  transform: translateY(0);
}

.c-notification.closed {
  visibility: hidden;
  transition: all double(500ms) cubic-bezier(0.19, 1, 0.22, 1);
  transform: translateY(-175%);
}

.c-notification__close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  cursor: pointer;

  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: half($line-height-base);
    display: block;
    width: 18px;
    height: 2px;
    background: $color-white;
  }

  &:before {
    transform: rotate(45deg);
  }

   &:after {
    transform: rotate(-45deg);
  }
}