//---------------------------
// Post
//---------------------------

.post-card {
  margin-bottom: $line-height-medium;
  padding-bottom: $line-height-medium;

  border-bottom: 1px solid $color-border;
  text-align: center;

  &__image {
    margin-bottom: half($line-height-base);
    transition: $base-transition-speed;

    @media #{$medium-down} {
      margin-bottom: half($line-height-medium);
    }
  }

  &__title {
    margin-bottom: 0;
    line-height: $line-height-medium;

    a {
      display: block;
      border-bottom: none;
      transition: $base-transition-speed;

      &:hover { color: $brand-color; }
    }
  }

  &__meta {
    margin-bottom: quarter($line-height-base);
    font-size: $font-size-tiny;
    line-height: $line-height-small;
    color: $color-grey;

    a { color: $color-grey; text-decoration: none; }
  }

  &:hover {
    .post-card__image {
      opacity: 0.9;
    }

    .post-card__title a { color: $brand-color; }
  }

  &--featured {
    &__icon {
      position: absolute;
      bottom: quarter($line-height-base);
      left: quarter($line-height-base);
      fill: $color-white;
    }
  }

  @media #{$large-up} {
    margin-bottom: $line-height-base;
    padding-bottom: $line-height-base;
  }
}

// Make post cards the same height

.post-list {
  display: flex;
  flex-wrap: wrap;

  // Safari (iPad)
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;

  .post-card-wrap {
    display: flex;

    // Safari (iPad)
    display: -webkit-flex;
  }

  .post-card {
    width: 100%;
  }
}