//---------------------------
// Share icons
//---------------------------

.share-list {
  display: flex;
  padding: 0;
  border: 1px solid $color-border;
  margin-bottom: $line-height-base;

  line-height: $line-height-small;
  list-style: none;

  li {
    flex: 1;
    text-align: center;
    margin: 0;
    border-right: 1px solid $color-border;

    &:last-child { border-right: 0; }
  }

  &__link {
    display: block;
    padding: quarter($line-height-base);

    font-size: $font-size-small;
    transition: $base-transition-speed;

    &:hover {
      background-color: $bg-color-gray;

      .share-list__icon--twitter   { fill: $color-twitter; }
      .share-list__icon--facebook  { fill: $color-facebook; }
      .share-list__icon--pinterest { fill: $color-pinterest; }
    }
  }

  &__icon { fill: $color-grey; }

  @media #{$medium-down} {
    margin-bottom: $line-height-medium;
  }
}