//---------------------------
// Tag Card
//---------------------------

.tag-card {
  margin-bottom: $line-height-base;
  background-color: $bg-color-gray;

  &__image {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    background-color: $bg-color-dark;

    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      transition: $base-transition-speed;
      background: linear-gradient(0deg, rgba($bg-color-dark, .3) 0, transparent 100%);
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding: half($line-height-base);
    font-weight: $font-weight-bold;
    color: $color-white;
  }

  &:hover {
    .tag-card__image:after {
      background-color: rgba($bg-color-dark, .1);
    }
  }
}