//---------------------------
// Typography
//---------------------------

body {
  color: $color-text;
  background-color: $color-white;
  font-size: $font-size-base;
  font-weight: $font-weight-regular;
  font-family: $font-sans-serif;
  line-height: $line-height-base;

  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $font-size-base;
  line-height: initial;

  a { text-decoration: none; }
}

.post-content {
  h1 { font-size: 32px; }
  h2 { font-size: 28px; }
  h3 { font-size: 26px; }
  h4 { font-size: 22px; }
  h5 { font-size: 19px; }

  p,
  ul,
  ol,
  blockquote {
    font-size: $font-size-base;
  }

  li {
    margin: 0 0 ($line-height-medium / 2);
  }
}

blockquote {
  font-family: $font-sans-serif;
  font-weight: $font-weight-bold;
  padding: 0 (2 * $line-height-base) 0 (2 * $line-height-base);

  @media #{$medium-down} {
    padding: 0 (2 * $line-height-small) 0 (2 * $line-height-small);
  }
}

hr {
  border: 0;
  height: 1px;
  background-color: $color-border;
  margin: 0 0 $line-height-base;

  @media #{$medium-down} {
    margin: 0 0 ($line-height-medium);
  }
}

a {
  color: $color-text;
  transition: $base-transition-speed;

  &:visited {
    color: $color-text;
  }

  &:hover {
    color: $color-grey;
  }

  &:active {
    color: $color-text;
  }

  &.custom {
    text-decoration: none;
  }
}