//---------------------------
// Off-canvas
//---------------------------

// Off Canvas menu

.off-canvas-toggle {
  display: none;

  @media #{$large-down} {
    display: block;
    position: absolute;
    top: 50%;
    right: $line-height-small;
    transform: translateY(-50%);
    font-size: $font-size-small;
    cursor: pointer;
  }
}

@media #{$large-down} {

  // prevent horizontal scroll during off-canvas

  html,
  body {
    height: 100%;
    overflow-x: hidden;
  }

  .off-canvas-content {
    position: fixed;
    top: 0;
    right: 0;
    width: $sidebar-width;
    height: 100%;

    background-color: $color-white;
    border-left: 1px solid $color-border;
    transform: translate3d(0, 0, 0) translateX($sidebar-width);
    transition: all $base-transition-speed cubic-bezier(.16, .63, .45, .98) 0s;
  }

  .off-canvas-container {
    transform: translate3d(0, 0, 0) translateX(0);
    transition: all $base-transition-speed cubic-bezier(.16, .63, .45, .98) 0s;

    &.is-active {
      transform: translate3d(0, 0, 0) translateX(-$sidebar-width);
    }
  }
}