//---------------------------
// Sidebar
//---------------------------

.logo {
  display: block;
  margin-bottom: quarter($line-height-base);
  font-weight: $font-weight-bold;

  @media #{$large-down} {
    margin-bottom: 0;
    line-height: $line-height-medium;
  }

  a {
    transition: $base-transition-speed;
    text-decoration: none;
    letter-spacing: $base-letter-spacing;

    &:hover { color: $color-grey; }
  }

  &__img {
    max-height: $line-height-medium;
    vertical-align: middle;

    @media #{$large-up} {
      display: inline-block;
    }
  }
}

.sidebar {
  position: relative;
  padding: half($line-height-medium) 0;
  line-height: $line-height-medium;

  @media #{$large-down} {
    background-color: $color-white;
    border-bottom: 1px solid $color-border;
  }

  @media #{$large-up} {
    position: fixed;
    top: 0;
    left: 0;
    width: $sidebar-width;
    height: 100%;
    background-color: $bg-color-gray;
    padding: $line-height-base 0;
    display: flex;
    align-items: center;
    text-align: center;
  }

  &__description {
    margin-bottom: $line-height-medium;
    padding-bottom: $line-height-medium;
    border-bottom: 1px solid $color-border;

    @media #{$large-down} {
      display: none;
    }
  }

  &__copy {
    width: 100%;
    text-align: center;
    color: $color-grey;

    a {
      color: $color-grey;
      text-decoration: none;
    }

    @media #{$large-up} {
      position: absolute;
      left: 0;
      bottom: $line-height-base;
    }
  }

  // Add border to sidebar (as header) in homepage in small screen

  @media #{$large-down} {
    .home-template & {
      border-bottom: 1px solid $color-border;
    }
  }
}