//---------------------------
// Navigation
//---------------------------

.navigation {
  @media #{$large-up} {
    margin-bottom: $line-height-medium;
    padding-bottom: $line-height-medium;
    border-bottom: 1px solid $color-border--darker;
  }

  li {
    display: block;
    margin-bottom: quarter($line-height-base);

    font-size: $font-size-small;
    line-height: $line-height-medium;

    &:last-child {
      margin-bottom: 0;
    }

    &.nav-current {
      a { color: $color-grey; }

      .home-template & a:not(:hover) { color: $color-text; }
    }

    @media #{$large-down} {
      display: block;
      text-align: center;
      margin-right: 0;
      line-height: $line-height-base;
    }
  }

  a {
    transition: $base-transition-speed;
    text-decoration: none;

    @media #{$large-down} {
      display: block;
      padding-top: quarter($line-height-base);
      padding-bottom: quarter($line-height-base);
      border-bottom: 1px solid $color-border;
    }
  }

  @media #{$large-down} {
    margin-bottom: quarter($line-height-base);
  }
}

.social-nav {
  margin-bottom: $line-height-medium;
  list-style: none;
  padding: 0;

  .icon {
    vertical-align: -moz-middle-with-baseline;
    vertical-align: -webkit-baseline-middle;
    fill: $color-text;
    transition: $base-transition-speed;

    &:hover {
      fill: $color-grey;
    }
  }

  li {
    display: inline-block;
    margin-right: quarter(half($line-height-base));
  }

  @media #{$large-down} {
    text-align: center;
  }
}