//---------------------------
// Pagination
//---------------------------

// Next & Previous Posts

.pagination {
  clear: both;
  font-size: $font-size-tiny;
  line-height: $line-height-medium;

  span,
  .icon { position: relative; }

  .newer-posts {
    float: left;
    text-align: left;

    span { left: - half($line-height-base); }
    .icon { left: -$line-height-medium / 3; }
  }

  .older-posts {
    float: right;
    text-align: right;

    span { right: - half($line-height-base); }
    .icon { right: - $line-height-medium / 3; }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: $base-letter-spacing;
    transition: $base-transition-speed;
  }
}

// Next & previous posts in single post page

.post-navigation {

  // Make the post card to grow to full width if there is one post
  // this will happen if we are in the first post page

  flex-grow: 1;

  &:last-child .post-card {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .post-card {
    @media #{$medium-up} {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &:hover {
    &:before { background-color: rgba(255, 255, 255, 1); }
  }
}