//---------------------------
// Typography
//---------------------------

.light    { font-weight: $font-weight-light; }
.regular  { font-weight: $font-weight-regular; }
.bold     { font-weight: $font-weight-bold; }

.italic     { font-style: italic; }
.cap        { text-transform: capitalize; }
.uppercase  { text-transform: uppercase; }

.ell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.font-base    { font-size: $font-size-base; }

.font-medium  {
  font-size: $font-size-medium;
  line-height: $line-height-medium;
}

.font-small {
  font-size: $font-size-small;
  line-height: $line-height-small;
}

.font-tiny {
  font-size: $font-size-tiny;
  line-height: $line-height-tiny;
}